# Library

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Input Data

In [2]:
dataset = pd.read_csv("/home/brilly/myskill_or_anything/Data_Science/9. Introduction to Data Preprocessing/hotel_bookings.csv")
dataset.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

## Memebrsihkan Data

### Memeriksa nilai hilang


---

### ðŸ”¹ Step by step

1. **`dataset.isna()`**
   â†’ ngecek nilai NaN di dataset â†’ hasilnya DataFrame boolean (`True` kalau NaN, `False` kalau tidak).

2. **`.mean()`**
   â†’ ngitung rata-rata per kolom.
   Karena `True = 1`, `False = 0`, maka ini = **proporsi missing value per kolom**.

   Contoh: kalau 30% baris di kolom A itu NaN â†’ hasilnya `0.3`.

3. **`.round(3)`**
   â†’ ngebulatkan hasilnya ke 3 angka desimal.
   Jadi `0.3333` jadi `0.333`.

4. **`.mul(100)`**
   ðŸ‘‰ `mul()` = **multiply** alias perkalian.
   Sama aja kayak `* 100`, tapi ini method Pandas Series/DataFrame.
   Jadi semua nilai proporsi tadi dikali 100 â†’ jadi persen (%).

---

In [4]:
#Memeriksa persentase data hilang
dataset.isna().mean().round(3).mul(100)

hotel                              0.0
is_canceled                        0.0
lead_time                          0.0
arrival_date_year                  0.0
arrival_date_month                 0.0
arrival_date_week_number           0.0
arrival_date_day_of_month          0.0
stays_in_weekend_nights            0.0
stays_in_week_nights               0.0
adults                             0.0
children                           0.0
babies                             0.0
meal                               0.0
country                            0.4
market_segment                     0.0
distribution_channel               0.0
is_repeated_guest                  0.0
previous_cancellations             0.0
previous_bookings_not_canceled     0.0
reserved_room_type                 0.0
assigned_room_type                 0.0
booking_changes                    0.0
deposit_type                       0.0
agent                             13.7
company                           94.3
days_in_waiting_list               0.0
customer_type                      0.0
adr                                0.0
required_car_parking_spaces        0.0
total_of_special_requests          0.0
reservation_status                 0.0
reservation_status_date            0.0
dtype: float64

In [6]:
dataset["children"].dtypes

dtype('float64')

In [5]:
dataset["children"].isna().sum()

4

### Mengisi nilai hilang dengan suatu nilai

In [7]:
dataset["children"] = dataset["children"].fillna(dataset["children"].median())

In [8]:
dataset["children"].isna().sum()

0

### Mengubah tipe data kolom children

In [9]:
dataset["children"] = dataset["children"].astype("int")
dataset["children"].head()

0    0
1    0
2    0
3    0
4    0
Name: children, dtype: int64

### Mengecek dan membuang nilai duplikat

In [10]:
dataset.duplicated().sum()

31994

In [11]:
dataset1 = dataset.drop_duplicates()
dataset1.duplicated().sum()

0

## Transformasi Data

### Membuat Kolom Baru

In [13]:
dataset1["total_penghuni"] = dataset1["adults"] + dataset1["babies"] + dataset1["children"]
dataset1.head()

/tmp/ipykernel_44651/3931536182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset1["total_penghuni"] = dataset1["adults"] + dataset1["babies"] + dataset1["children"]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_penghuni
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,2
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,2
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03,2

In [14]:
dataset1["total_penghuni"]

0         2
1         2
2         1
3         1
4         2
         ..
119385    2
119386    3
119387    2
119388    2
119389    2
Name: total_penghuni, Length: 87396, dtype: int64

### Melakukan Encode

In [15]:
dataset1["hotel"].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [16]:
dataset1["is_resort"] = pd.get_dummies(dataset1["hotel"], drop_first = True)
dataset1["is_resort"].head()

/tmp/ipykernel_44651/2405278624.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset1["is_resort"] = pd.get_dummies(dataset1["hotel"], drop_first = True)

0    True
1    True
2    True
3    True
4    True
Name: is_resort, dtype: bool

### Membuat Kategori Baru (Diskretisasi)

In [18]:
dataset1["lead_time"].unique()

array([342, 737,   7,  13,  14,   0,   9,  85,  75,  23,  35,  68,  18,
        37,  12,  72, 127,  78,  48,  60,  77,  99, 118,  95,  96,  69,
        45,  40,  15,  36,  43,  70,  16, 107,  47, 113,  90,  50,  93,
        76,   3,   1,  10,   5,  17,  51,  71,  63,  62, 101,   2,  81,
       368, 364, 324,  79,  21, 109, 102,   4,  98,  92,  26,  73, 115,
        86,  52,  29,  30,  33,  32,   8, 100,  44,  80,  97,  64,  39,
        34,  27,  82,  94, 110, 111,  84,  66, 104,  28, 258, 112,  65,
        67,  55,  88,  54, 292,  83, 105, 280, 394,  24, 103, 366, 249,
        22,  91,  11, 108, 106,  31,  87,  41, 304, 117,  59,  53,  58,
       116,  42, 321,  38,  56,  49, 317,   6,  57,  19,  25, 315, 123,
        46,  89,  61, 312, 299, 130,  74, 298, 119,  20, 286, 136, 129,
       124, 327, 131, 460, 140, 114, 139, 122, 137, 126, 120, 128, 135,
       150, 143, 151, 132, 125, 157, 147, 138, 156, 164, 346, 159, 160,
       161, 333, 381, 149, 154, 297, 163, 314, 155, 323, 340, 356, 142,
       328, 144, 336, 248, 302, 175, 344, 382, 146, 170, 166, 338, 167,
       310, 148, 165, 172, 171, 145, 121, 178, 305, 173, 152, 354, 347,
       158, 185, 349, 183, 352, 177, 200, 192, 361, 207, 174, 330, 134,
       350, 334, 283, 153, 197, 133, 241, 193, 235, 194, 261, 260, 216,
       169, 209, 238, 215, 141, 189, 187, 223, 284, 214, 202, 211, 168,
       230, 203, 188, 232, 709, 219, 162, 196, 190, 259, 228, 176, 250,
       201, 186, 199, 180, 206, 205, 224, 222, 182, 210, 275, 212, 229,
       218, 208, 191, 181, 179, 246, 255, 226, 288, 253, 252, 262, 236,
       256, 234, 254, 468, 213, 237, 198, 195, 239, 263, 265, 274, 217,
       220, 307, 221, 233, 257, 227, 276, 225, 264, 311, 277, 204, 290,
       266, 270, 294, 319, 282, 251, 322, 291, 269, 240, 271, 184, 231,
       268, 247, 273, 300, 301, 267, 244, 306, 293, 309, 272, 242, 295,
       285, 243, 308, 398, 303, 245, 424, 279, 331, 281, 339, 434, 357,
       325, 329, 278, 332, 343, 345, 360, 348, 367, 353, 373, 374, 406,
       400, 326, 379, 399, 316, 341, 320, 385, 355, 363, 358, 296, 422,
       390, 335, 370, 376, 375, 397, 289, 542, 403, 383, 384, 359, 393,
       337, 362, 365, 435, 386, 378, 313, 351, 287, 471, 462, 411, 450,
       318, 372, 371, 454, 532, 445, 389, 388, 407, 443, 437, 451, 391,
       405, 412, 419, 420, 426, 433, 440, 429, 418, 447, 461, 605, 457,
       475, 464, 482, 626, 489, 496, 503, 510, 517, 524, 531, 538, 545,
       552, 559, 566, 573, 580, 587, 594, 601, 608, 615, 622, 629, 396,
       410, 395, 423, 408, 409, 448, 465, 387, 414, 476, 479, 467, 490,
       493, 478, 504, 507, 458, 518, 521, 377, 444, 380, 463])

In [17]:
def lead_time_category(x):

  if x <= 30:
    return "1mo"
  elif x <= 60:
    return "2mo"
  else:
    return ">3mo"

dataset1["lead_time_category"] = dataset1["lead_time"].apply(lead_time_category)
dataset1["lead_time_category"].head()

/tmp/ipykernel_44651/3465192956.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset1["lead_time_category"] = dataset1["lead_time"].apply(lead_time_category)

0    >3mo
1    >3mo
2     1mo
3     1mo
4     1mo
Name: lead_time_category, dtype: object

### Mengubah kategori

In [19]:
dataset1["co_status"] = dataset1["reservation_status"].map({"Check-Out" : "Success",
                                    "Canceled": "Not Success",
                                    "No-Show" : "Not Sucess"})
dataset1["co_status"].head()

/tmp/ipykernel_44651/3393171246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset1["co_status"] = dataset1["reservation_status"].map({"Check-Out" : "Success",

0    Success
1    Success
2    Success
3    Success
4    Success
Name: co_status, dtype: object

### Pengubahan skala data

In [20]:
dataset1["adr_scaled"] = dataset1[["adr"]].apply(lambda x: (x - x.max())/ (x.max() - x.min()))
dataset1["adr_scaled"].head()

/tmp/ipykernel_44651/2587371366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset1["adr_scaled"] = dataset1[["adr"]].apply(lambda x: (x - x.max())/ (x.max() - x.min()))

0   -0.998820
1   -0.998820
2   -0.984947
3   -0.984947
4   -0.980693
Name: adr_scaled, dtype: float64

### Aggregasi Data

In [23]:
cols = ["lead_time", "total_penghuni", "adr"]
by_country = dataset1.groupby("country")[cols].mean()
print("grouby by country and mean")
by_country.head()

grouby by country and mean

          lead_time  total_penghuni         adr
country
ABW      126.000000        2.500000  128.340000
AGO       23.897661        1.836257  117.970029
AIA        0.000000        4.000000  265.000000
ALB       93.272727        1.909091   85.203636
AND       47.000000        2.714286  202.652857

### Pivot

In [24]:
pivot_lead_time = dataset1.pivot_table(index = "reservation_status",
                     columns = "hotel",
                     values = "lead_time",
                     aggfunc = "mean")
pivot_lead_time.head()

hotel               City Hotel  Resort Hotel
reservation_status
Canceled            104.133325    115.775616
Check-Out            67.387999     73.999115
No-Show              50.759358     60.011278

### Melt

In [25]:
pivot_lead_time.melt()

          hotel       value
0    City Hotel  104.133325
1    City Hotel   67.387999
2    City Hotel   50.759358
3  Resort Hotel  115.775616
4  Resort Hotel   73.999115
5  Resort Hotel   60.011278